{{ $data := index site.Data site.Language.Lang }}

{{ with $data.homepage.success_story }}
<section class="section bg-cover" data-background="{{ .bg_image | absURL }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-4 position-relative success-video">
          <iframe id="odysee-iframe" style="justify-content: center" width="300" height="450" src="https://odysee.com/$/embed/@ranextra:b/recomendaciones:8?r=FbKXNJVyhQM13oAK4BV5AUNsEPbY9SY5" allowfullscreen></iframe>
      </div>
      <div class="col-lg-6 col-sm-8">
        <div class="bg-white p-5">
          <h2 class="section-title">{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}